{%load i18n%}
<form class="login" action="{% url profiles.views.login next_url=next_url %}" method="post">
<fieldset>
{% csrf_token %}
<div class="control-group">
    <div class="controls">
<h3><label for="email">Email</label></h3>

	{% if form.email.errors %}
		<div class="popup_left">
			<p>
			{% for error in form.email.errors %}
				{{error}} 
			{% endfor %}
			</p>
		</div>
	{% endif %}

{{form.email}}
<h3><label form="password">Password</label></h3>

	{% if form.password.errors %}
		<div class="popup_left">
			<p>
			{% for error in form.password.errors %}
				{{error}} 
			{% endfor %}
			</p>
		</div>
	{% endif %}


{{form.password}}

</div>
</div>
<button type="submit" class="btn btn-primary right">Login</button>
</fieldset>
</form>
