{% extends "layouts/smallbox.html" %}

{%block title%}Konto löschen{%endblock%}

{% block content %}
<div style="font-size:1.2em">
	<p>
            Schade, dass Du uns verlassen willst. Wir danken dir für deine bisherige Mithilfe, wir schätzen Deinen Beitrag wirklich sehr!
	</p>
	<p style="margin-top:20px">
            Um Missbrauch dieser Funktion zu verhindern, musst Du die Löschung deines Kontos noch per E-Mail bestätigen. Hierzu haben wir Dir gerade eine E-Mail mit einem Bestätigungslink geschickt. Sobald Du auf diesen klickst, wird dein Konto unwiderruflich gelöscht.
	</p>
</div>
{% endblock %}
