{% extends "layouts/smallbox.html" %}

{%block title%}Passwort ändern{%endblock%}

{%block content_menu%}
<li>
	<a href="{% url profiles.views.profile_settings %}">Back</a>
</li>
{%endblock%}

{% block content %}
	<form action="{% url profiles.views.change_password %}" method="post">
<fieldset>
{% csrf_token %}

	<h3>{{form.new_password.label }}</h3>

	{% if form.new_password.errors %}
		<p class="form_error">
		{% for error in form.new_password.errors %}
			{{error}} 
		{% endfor %}
		</p>
	{% endif %}
	
 	<input type="password" name="new_password" value="{% if form.new_password.value%}{{form.new_password.value|escape}}{%endif%}">

	<h3>{{form.new_password_confirmed.label }}</h3>

	{% if form.new_password_confirmed.errors %}
		<p class="form_error">
		{% for error in form.new_password_confirmed.errors %}
			{{error}} 
		{% endfor %}
		</p>
	{% endif %}
	
 	<input type="password" name="new_password_confirmed" value="{% if form.new_password_confirmed.value%}{{form.new_password_confirmed.value|escape}}{%endif%}">


<br /><button class="btn bnt-primary" type="submit">Change password</button>
</fieldset>
</form>

{% endblock %}
