{% extends "layouts/twocol_b.html" %}


{% block left_content %}
	<h2 class="subtitle">Anmelden...</h2>
	<div class="box">
		<div class="inner_content">
			{% include "profiles/_login_form.html" with form=login_form next_url=next_url %}
		</div>
	</div>
{%endblock%}
{% block right_content %}
	<h2 class="subtitle">...oder kostenlos Registrieren</h2>
	<div class="box">
		<div class="inner_content">
			{% include "profiles/_signup_form.html" with form=signup_form next_url=next_url%}
		</div>
	</div>
{%endblock%}

