<div class="well well-small">Compare to..</div>
<h3>Facebook</h3>
<div>
<div class="span4">
    <div class="tile large positive">
        <h4>ROI <small>on facebook</small>
        <div class="badge">
            ?
        </div></h4>
        <p class="content">
            700%
        </p>
        <div class="change">
            +5000%
        </div>
    </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile negative">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                -30%
            </div>
    </div>
</div>
</div>

<div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
    </div>
</div>
</div>






<h3>Facebook</h3>
<div>
<div class="span4">
    <div class="tile large positive">
        <h4>ROI <small>on facebook</small>
        <div class="badge">
            ?
        </div></h4>
        <p class="content">
            700%
        </p>
        <div class="change">
            +5000%
        </div>
    </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
    </div>
</div>
</div>

<div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
        </div>
</div>
<div class="span4">
        <div class="tile positive">
            <h4>CLV <small>per avg. user</small>
            <div class="badge">
                ?
            </div></h4>
            <p class="content">
                500&euro;
            </p>
            <div class="change">
                +30%
            </div>
    </div>
</div>
</div>

